@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    height: 100vh;
   max-width: 100vw !important;
  }
  
  .ql-editor {
    font-size: 1.05rem;
    color: rgb(228, 220, 220);
  }
 .ql-picker-label{
    font-size: 1.2rem;
    color: rgb(181, 131, 227);
    
  }
  
  .post-content p {
    margin-bottom: 0.5rem;
  }
  
  .post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
  }
  
  .post-content a:hover {
    text-decoration: underline;
  }
  
  .dark .post-content a {
    color: red;
  }

  .link-grey { color: #aaa; } .link-grey:hover { color: #00913b; }


  .post-content{
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    align-items: center;
      margin-top: 40px;
      background-color: #131417;
      padding: 20px;
  }

  .invert-image {
    filter: invert(1);
  }
  
  ::-webkit-scrollbar {
    background: rgb(90, 85, 89);
        width: 8px;
        height: 8px;
      }
      
      /* Style the scrollbar handle */
      ::-webkit-scrollbar-thumb {
        background: rgba(177, 248, 230, 0.774);
        border-radius: 20px;
  }


  tspan
  {
    border: 1px solid red;
  }
  .sidebar-hidden {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .sidebar-visible {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }

  